@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.quote {
  background: linear-gradient(300deg, #ff7b00, #ff1300, #e1ff00, #02e332, #02cee3, #5300ff, #ff00f7);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}
